<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description"> Official page of the Madrid meetup of the <a href=https://logconference.org/ target="_blank">Learning on Graph Conference</a>, an annual research conference that covers areas broadly related to machine learning on graphs and geometry. </p>

<p>The event serves as a local branch of the main conference, providing an environment for researchers in this field to convene and foster discussion and social connections. </p>


<!--
<center>
    <br>
	<img src="img/logo_w_madrid.png" width="300" height="200" alt="LoG Madrid">
	<br><br><br><br><br>
</center>
-->

<center>
	<p>📅 27th – 30th November 2023 📍 Madrid</p>
	<br>
	<img src="img/logo_w_madrid.png" alt="Description of the image" class="responsive-image">
	<br><br><br><br>
</center>

<p>The deadline for registration is 19 November 23. </p>



<!-- Generate style with css to add a bulleted list-->

<p>Important dates:</p>
<ul class="dates-list">
  	<!-- <li class="list-title">Important Dates:</li>-->
	<li>Submission deadline: October 27, 2023 </li>
	<li>Final decision: November 10, 2023</li>
</ul>





<!-- 
<p>Important dates:
Submission deadline (both calls): October 27, 2023
Final decision: November 10, 2023
</p>

<p>This is just a live demo, check our <a href="https://github.com/braziljs/conf-boilerplate" target="_blank">repository on Github</a> for more details =D</p> -->
