<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description"> Official page of the Madrid meetup of the <a href=https://logconference.org/ target="_blank">Learning on Graphs Conference</a>, an annual research conference that covers areas broadly related to machine learning on graphs and geometry. </p>

<p>The event serves as a local branch of the main conference, providing an environment for researchers in this field to convene and foster discussion and social connections. </p>


<center>
	<p>📅 27th – 29th November 2023 📍 Madrid</p>
	<br>
	<img src="img/logo_w_madrid.png" alt="Description of the image" class="responsive-image">
	<br><br><br><br>
</center>

<!--<p>The deadline for registration is 19 November 23. </p> -->

<p>Important dates:</p>
<ul class="dates-list">
	<li>Submission deadline: November 8th 2023</li>
	<li>Final decision: November 10th 2023</li>
	<li>Deadline for registration: <b>November 19th 2023</b></li>
	<li>Late registration (registration fee 90€): November 26th 2023</li>
</ul>

