<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description"> Official page of the Madrid meetup of the <a href=https://logconference.org/ target="_blank">Learning on Graphs Conference</a>, an annual research conference that covers areas broadly related to machine learning on graphs and geometry. </p>

<p>The event serves as a local branch of the main conference, providing an environment for researchers in this field to convene and foster discussion and social connections. </p>

<p>Explore the event's recorded sessions <a href=https://tv.urjc.es/series/655cd80ef8ceb7e765027123 target="_blank">here</a>.</p>



<center>
	<p>📅 27th – 29th November 2023 📍 Madrid</p>
	<br>
	<img src="img/logo_w_madrid.png" alt="Description of the image" class="responsive-image">
	<br><br><br><br>
</center>

<!--<p>The deadline for registration is 19 November 23. </p> -->

<p>Important dates:</p>
<ul class="dates-list">
	<li>Submission deadline: November 8th 2023</li>
	<li>Final decision: November 10th 2023</li>
	<li>Deadline for registration: November 19th 2023</li>
	<li>Late registration until: November 26th 2023</li>
	<li>Late full registration fee: 180€. </li>
	<li>Reduced late full registration fee (students and part-time attendees with a talk): 90€ </li>
</ul>

