<h2 class="section-title">{{ .titles.cfp }}</h2>

<p itemprop="description">We are planning a session of open talks on general topics and open problems related to learning on graphs and geometry. Authors whose abstracts are accepted to the workshop will present their work to the full audience. The best submissions will be chosen for oral presentation.</p>


<p>We kindly request authors to provide an abstract of a maximum of 4000 characters (approximately 600 words). If you have recently published papers relevant to the conference theme, please submit your abstract along with their respective DOIs through the submission form. Further, if your work belongs to one of the subject areas below, please specify on the form.</p>



<p>Talks abstracts must be submitted through the <a href="https://cmt3.research.microsoft.com/LoGMadrid2023">submission page</a>.</p>



<p>In the case that the number of applications should exceed the number of talks that can be included in the session, the organizing committee will reserve the right to select a limited number of talks. More information on timing will be released as the schedule of the main conference is made known.</p>



<!-- Subject Areas -->
<h3 class="subsection-title">Subject Area</h2>

<p>The following is a summary of LoG&rsquo;s focus, which is not exhaustive. If you doubt that your paper fits the venue, feel free to contact <a href="mailto:logmeetupmadrid@gmail.com">logmeetupmadrid@gmail.com</a>!</p>

<ul class="subject-list">
	<li>Expressive Graph Neural Networks</li>
	<li>GNN architectures (transformers, new positional encodings, ...)</li>
	<li>Statistical theory on graphs</li>
	<li>Causal inference (structural causal models, ...)</li>
	<li>Geometry processing</li>
	<li>Robustness and adversarial attacks on graphs</li>
	<li>Combinatorial Optimization and Graph Algorithms</li>
	<li>Graph Kernels</li>
	<li>Graph Signal Processing/Spectral Methods</li>
	<li>Graph Generative Models</li>
	<li>Scalable Graph Learning Models and Methods</li>
	<li>Graphs for Recommender Systems</li>
	<li>Knowledge Graphs</li>
	<li>Graph ML Platforms and Systems</li>
	<li>Self-supervised learning on graphs</li>
	<li>Trustworthy graph ML (fairness, privacy, …)</li>
	<li>Graph/Geometric ML for Health, Security, Computer Vision, ...</li>
	<li>Graph/Geometric ML Infrastructures (datasets, benchmarks, libraries, …)</li>
</ul>


