<h2 class="section-title">{{ .titles.location }}</h2>


<!--
<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <span itemprop="streetAddress">{{ .address }}. </span>
  <span itemprop="addressLocality">{{ .city }}</span>,
  <span itemprop="addressRegion"> {{ .state }}</span>
</p>
-->


<!--<h3>About the venue</h3>-->

<p>The Madrid LoG Meet Up will take place in the “<a href="https://maps.app.goo.gl/EHK9wXYakEUDhrCHA">URJC Madrid-Arguelles Campus</a>”, in one of the buildings that the King Juan Carlos University has in Madrid Downtown.</p>

<p>The location and street view of the building are shown below:</p>

<div class="grid-row">
<center>
  <center>
    <img src="img/SedeArguelles.jpeg" alt="Sede Arguelles" class="responsive-img-loc" />
    <a href="https://www.google.com/maps/place/Calle+de+Ferraz,+21,+28008+Madrid/@40.4271663,-3.720647,17z/data=!3m1!4b1!4m5!3m4!1s0xd42286c04812461:0x15030955b3d7fe93!8m2!3d40.4271663!4d-3.7184583">
      <img src="img/GoogleMaps.png" alt="Google Maps" class="responsive-img-loc" />
    </a>
  </center>
</div>


<br><br>

<p class='grid-row'>The building has two main entrances. Either one will work but the one in <a href="https://www.google.com/maps/place/Calle+de+Ferraz,+21,+28008+Madrid/@40.4271663,-3.720647,17z/data=!3m1!4b1!4m5!3m4!1s0xd42286c04812461:0x15030955b3d7fe93!8m2!3d40.4271663!4d-3.7184583">Calle Ferraz 21, Madrid</a>, will give direct access to the Meet Up location. </p>


<p>For those staying around the Plaza de España area, walking to the conference venue will take between 5 and 10 minutes.</p>

<p>Those staying in other places of the city can use the <a href="https://www.metromadrid.es/en">subway system</a> (locally referred to as “El Metro”).  The closest metro stations are Argüelles (Lines 3/4/6) and Ventura Rodríguez (Line 3). The walking distance from any of these two stations to the conference is less than 3 minutes. </p>
<br>

<!--<h3>About the host city: Madrid</h3>-->

<!--< Interactive Google maps 
<div class="map-container">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2911.882384133356!2d-9.068607000956137!3d42.59304351244735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f313a44c9e513%3A0x79a4c48a5e27a571!2sCabeza%20de%20Peppa%20Pig!5e0!3m2!1ses!2ses!4v1692355610781!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
-->

