<h2 class="section-title">{{ .titles.location }}</h2>


<!--
<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <span itemprop="streetAddress">{{ .address }}. </span>
  <span itemprop="addressLocality">{{ .city }}</span>,
  <span itemprop="addressRegion"> {{ .state }}</span>
</p>
-->
<h3> How to get to Madrid:</h3>

<h4> Trains </h4>

<p><b>Information soon avaliable</b> </p>

<h4> Airport </h4>
<p><b>Information soon avaliable</b> </p>

<h4> Busses </h4>

<p><b>Information soon avaliable</b> </p>


<h3> The Venue</h3>

<p><b>Information soon avaliable</b> </p>


<!--<div id="map-canvas" class="location-area" data-address="{{ .address }}, {{ .city }} - {{ .state }}"></div>-->


<!--< ADD HERE MAPS ONCE I HAVE LOCATION
<div class="map-container">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2911.882384133356!2d-9.068607000956137!3d42.59304351244735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f313a44c9e513%3A0x79a4c48a5e27a571!2sCabeza%20de%20Peppa%20Pig!5e0!3m2!1ses!2ses!4v1692355610781!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
-->

