<h2 class="section-title">{{ .titles.organizers }}</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ducimus neque amet corrupti ex temporibus similique.</p>

<!--
<ul class="sponsors-list">
{{ range $contact := .contacts }}
  <li class="sponsor-item" itemscope itemtype="http://schema.org/Organization">
    <a href="{{ .url }}" class="sponsor--link" itemprop="url" target="_blank">
      <img src="{{ .logo }}" alt="{{ .name }}" class="photo" itemprop="image">
    </a>
  </li>
{{ end }}
</ul>
-->

<ul class="organizers-list">
  {{ range $contact := .contacts }}
    <li class="organizer-item" itemscope itemtype="http://schema.org/Organization">
      <a href="{{ .url }}" class="organizer-link" itemprop="url" target="_blank">
        <img src="{{ .logo }}" alt="{{ .name }}" class="photo" itemprop="image">
      </a>
      <!-- <p class="organizer-name">{{ .name }}</p>
      <p class="organizer-email">{{ .email }}</p>-->
      <div class="organizer-details">
        <p class="organizer-name">{{ .name }}</p>
        <p class="organizer-affiliation">{{ .affiliation }}</p>
        <p class="organizer-email">{{ .email }}</p>
      </div>
    </li>
  {{ end }}
</ul>


<!--
<form method="post" action="contact.php" id="form" class="form">
  <div class="control-group control-group-name">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Your name">
  </div>
  <div class="control-group control-group-email">
    <label for="email">E-mail</label>
  <input type="email" name="email" id="email" placeholder="Your e-mail">
  </div>
  <div class="control-group">
    <label for="message">Message</label>
  <textarea name="" id="message" cols="30" rows="10" placeholder="Your message"></textarea>
  </div>
  <input class="btn btn-send" type="submit" value="Send">
</form>
-->