<h2 class="section-title">{{ .titles.registration }}</h2>

<p itemprop="description">
If you are interested in participating or attending the Meet Up, you can register until November 19th, 2023, by filling out <a href="https://forms.gle/mTeEvbmvmq8aTupTA">this form</a>. Note that at least one author of each accepted submission has to register and attend the workshop in person. We estimate a low price for the registration fee (30€ per person) to cover expenses.</p>

<!-- <b>(registration link will be posted during the 4th week of October)</b> <a href="https://example.org" target="_blank">link</a>.-->

<!--<p>Registration will be effective upon payment of the registration fee through the payment gateway. </p>-->


<!--<p>That's why we created this project! <a href="https://github.com/braziljs/conf-boilerplate" target="_blank">Conf Boilerplate</a> is an iniciative of <a href="http://braziljs.org" target="_blank">BrazilJS Foundation</a> that provides a simple structure built on top of Docpad, a static generator in NodeJS, with all the things you need to create a event. We also provide a responsive template with i18n!</p>

<p>This is just a live demo, check our <a href="https://github.com/braziljs/conf-boilerplate" target="_blank">repository on Github</a> for more details =D</p>-->
