<h2 class="section-title">{{ .titles.registration }}</h2>

<p itemprop="description">
If you are interested in participating or attending the Meet Up, you can register until November 19th, 2023, by filling out <a href="https://forms.gle/mTeEvbmvmq8aTupTA">this form</a>. Note that at least one author of each accepted submission has to register and attend the workshop in person. We have set a low early registration fee of 30€ per person to cover expenses. 
Registration fee 180€, with a reduced of 90€ for students and part-time attendees with a talk.
</p>


<p>We also encourage all LoG@Madrid participants to register for the main LoG conference. Check the information available on  <a href=https://logconference.org/ target="_blank">Learning on Graphs Conference</a>.
</p>


<!--<p>That's why we created this project! <a href="https://github.com/braziljs/conf-boilerplate" target="_blank">Conf Boilerplate</a> is an iniciative of <a href="http://braziljs.org" target="_blank">BrazilJS Foundation</a> that provides a simple structure built on top of Docpad, a static generator in NodeJS, with all the things you need to create a event. We also provide a responsive template with i18n!</p>

<p>This is just a live demo, check our <a href="https://github.com/braziljs/conf-boilerplate" target="_blank">repository on Github</a> for more details =D</p>-->
