<h2 class="section-title">{{ .titles.schedule }}</h2>

<p>We plan to have daily plenary and long talks, including pitch talks and a poster session for authors to connect with the audience.</p> 

<p><b>A specific timetable will be provided closer to the meetup dates.</b></p>

<!-- UNCOMMENT WHEN SCHEDULE READY
<div class="schedule-tbl">

<table>
    <thead>
      <tr>
        <th class="schedule-time">Time</th>
        <th class="schedule-slot">Slot</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .schedule }}
        {{ if ne .presentation nil }}
          <tr>
            <td class="schedule-time">{{ .presentation.time }}</td>
            <td class="schedule-slot">
            {{ with .photo }}
              <span class="speaker-photo">
                <img class="photo" src="{{ . }}" alt="{{ $slot.name }}">
              </span>
            {{ end }}

              {{ .presentation.title }}
              <span class="speakers-company">{{ .company }}</span>
            </td>
          </tr>
        {{ else }}
          <tr class="schedule-other">
            <td class="schedule-time">{{ .time }}</td>
            <td class="schedule-slot">{{ .name }}</td>
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
</table>
-->