<h2 class="section-title">{{ .titles.schedule }}</h2>

<!--
<p>We plan to have daily plenary talks and oral presentations.</p> 

<p><b>A tentative schedule will be released soon (no later than November 15). Please stay tuned for further updates.</b></p>
-->
<center>
  <br>
  <img src="img/schedule_madrid.png" alt="Description of the image" class="responsive-schedule">
  <br><br><br><br>
</center>
<p>Download a PDF version of the schedule <a href="https://github.com/logmeetupmadrid/logmeetupmadrid.github.io/blob/5116f6634d3a43727699ba85f742e2d9eccf0892/static/schedule_madrid.pdf?raw=true" target="_blank">here</a>.</p> 

<p>The details for each presentation slot, encompassing presenter names and their respective talk titles, will be made available shortly.</p> 


<!-- UNCOMMENT WHEN SCHEDULE READY-->
<div class="schedule-tbl">

<table>
    <thead>
      <tr>
        <th class="schedule-time">Time</th>
        <th class="schedule-slot">Slot</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .schedule }}
        {{ if ne .presentation nil }}
          <tr>
            <td class="schedule-time">{{ .presentation.time }}</td>
            <td class="schedule-slot">
            {{ with .photo }}
              <span class="speaker-photo">
                <img class="photo" src="{{ . }}" alt="{{ $slot.name }}">
              </span>
            {{ end }}

              {{ .presentation.title }}
              <span class="speakers-company">{{ .company }}</span>
            </td>
          </tr>
        {{ else }}
          <tr class="schedule-other">
            <td class="schedule-time">{{ .time }}</td>
            <td class="schedule-slot">{{ .name }}</td>
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
</table>
